body.dragging > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#my-app {
  --color-1: #000;
  --color-2: #222;
  --color-3: #72bbe9;
  --color-4: #c9c9c9;
  --color-5: #222222;
  --color-6: #555555;
  --color-7: #aedaf5;
  --font-small: 12px;
  --font-tiny: 10px;
}

#my-app {
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 99999;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: var(--color-4);
}

.my-app-info {
  font-size: var(--font-small);
}

#my-app-body .my-app-info {
  padding: 15px;
}

#my-app-clear {
  color: var(--color-1);
  background-color: var(--color-3);
  width: 32px;
  height: 32px;
  cursor: pointer;
  right: 3px;
  top: 3px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-app-header {
  width: 100%;
  padding: 15px;
}
#my-app-header.hidden {
  display: none;
}
.my-app-buttons {
  display: flex;
  font-size: 14px;
  gap: 0.5em;
}

.my-app-button {
  font-size: var(--font-small);
  color: var(--color-4);
  background-color: var(--color-5);
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
  width: 50%;
  padding: 0.5em;
  border-radius: 6px;
}

.my-app-button.active {
  color: var(--color-2);
  background-color: var(--color-3);
}

.my-app-button.active:hover {
  background-color: var(--color-7);
}

#my-app-filter {
  display: flex;
  align-items: stretch;
  margin-top: 1em;
  position: relative;
}

#my-app-filter.hidden {
  display: none;
}

#my-app-content {
  max-height: 260px;
  overflow: scroll;
}

#my-app-close {
  z-index: 999999;
  position: fixed;
  top: 8px;
  right: 110px;
  padding: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNTYgMjU2IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmIj48cGF0aCBkPSJtMTI4IDIzNS4zYy01OS4yIDAtMTA3LjMtNDguMi0xMDcuMy0xMDcuMy0wLTU5LjIgNDguMS0xMDcuMyAxMDcuMy0xMDcuM3MxMDcuMyA0OC4yIDEwNy4zIDEwNy4zYzAgNTkuMi00OC4xIDEwNy4zLTEwNy4zIDEwNy4zem0wLTIwMi42Yy01Mi42IDAtOTUuMyA0Mi44LTk1LjMgOTUuM3M0Mi44IDk1LjMgOTUuMyA5NS4zIDk1LjMtNDIuOCA5NS4zLTk1LjMtNDIuNy05NS4zLTk1LjMtOTUuM3oiLz48ZWxsaXBzZSBjeD0iOTYuMiIgY3k9Ijk2LjEiIHJ4PSIxOC4zIiByeT0iMjciLz48ZWxsaXBzZSBjeD0iMTU5LjgiIGN5PSI5Ni4xIiByeD0iMTguMyIgcnk9IjI3Ii8+PHBhdGggZD0ibTEyOC41IDE4OC44Yy0zOC42IDAtNTUuMi0yOC45LTU1LjktMzAuMi0xLjYtMi45LS42LTYuNSAyLjMtOC4yIDIuOS0xLjYgNi41LS42IDguMiAyLjMuNiAxIDE0LjEgMjQuMSA0NS40IDI0LjEgMzEuMiAwIDQzLjgtMjIuOSA0NC4zLTIzLjkgMS42LTIuOSA1LjItNCA4LjEtMi41czQuMSA1LjEgMi41IDguMWMtLjYgMS4yLTE2LjIgMzAuMy01NC45IDMwLjN6Ii8+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 22px;
  background-color: var(--color-1);
  border-radius: 50%;
  background-position: center center;
  box-shadow: 0 2px 12px -3px rgba(255, 255, 255, 0.8);
  cursor: pointer;
  user-select: none;
}
@media screen and (min-width: 744px) {
  #my-app-close {
    right: 170px;
  }
}

#my-app-close.open {
  background-size: 18px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNTYgMjU2IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMjQ2LjUgMjM0LjctMTA2LjctMTA2LjcgMTA2LjctMTA2LjctMTEuOC0xMS45LTEwNi43IDEwNi43LTEwNi43LTEwNi42LTExLjggMTEuOSAxMDYuNiAxMDYuNi0xMDYuNiAxMDYuNiAxMS44IDExLjkgMTA2LjctMTA2LjYgMTA2LjcgMTA2Ljd6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

#my-app-field {
  font-size: 16px;
  touch-action: none;
  padding: 8px 40px 8px 8px;
  height: 38px;
  border: 0;
  border-radius: 0;
  color: var(--color-2);
  width: 100%;
  border-radius: 6px;
  appearance: textfield;
}

#my-app-field::-webkit-search-cancel-button,
#my-app-field::-webkit-search-decoration,
#my-app-field::-webkit-search-results-decoration {
  display: none;
}

#my-app-field:focus {
  outline: none;
  box-shadow: 0 0 0px 3px var(--color-3)
}

#my-app-box {
  z-index: 999999;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  max-width: 280px;
  width: 280px;
  background-color: var(--color-1);
  transform: translateX(-100%);
  position: relative;
  transition: transform 0.1s ease-out;
  border: 1px solid var(--color-5);
  box-shadow: 0 2px 12px -3px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

#my-app-box.open {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
}

.my-app-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.my-app-action {
  width: 36px;
  height: 36px;
  background-color: var(--color-3);
  display: flex;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  flex: none;
  border: none;
  border-radius: 6px;
}

.my-app-newTab {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNTYgMjU2IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMWQxZDFiIj48cGF0aCBkPSJtMjMzLjYgMjYuNGgtMTY3LjJjLTQuMSAwLTcuNSAzLjQtNy41IDcuNXYzOC4zaC0zNi41Yy00LjEgMC03LjUgMy40LTcuNSA3LjV2MTQwLjVjMCA0LjEgMy40IDcuNSA3LjUgNy41aDE2Ny4yYzQuMSAwIDcuNS0zLjQgNy41LTcuNXYtMzguMmgzNi42YzQuMSAwIDcuNS0zLjQgNy41LTcuNXYtMTQwLjZjLS4xLTQuMS0zLjQtNy41LTcuNi03LjV6bS01MS41IDE4Ni40aC0xNTIuMnYtMTI1LjVoMjkuMXY4Ny4yYzAgNC4xIDMuNCA3LjUgNy41IDcuNWgxMTUuN3YzMC44em00NC00NS44aC0yOS4xLTE1LTEwOC4xdi03OS43LTE1LTMwLjloMTUyLjJ6Ii8+PHBhdGggZD0ibTE5NS4yIDk2LjdoLTM3Ljd2LTM0YzAtNC4xLTMuNC03LjUtNy41LTcuNXMtNy41IDMuNC03LjUgNy41djM0aC0zNy43Yy00LjEgMC03LjUgMy40LTcuNSA3LjVzMy40IDcuNSA3LjUgNy41aDM3Ljd2MzRjMCA0LjEgMy40IDcuNSA3LjUgNy41czcuNS0zLjQgNy41LTcuNXYtMzRoMzcuN2M0LjEgMCA3LjUtMy40IDcuNS03LjVzLTMuMy03LjUtNy41LTcuNXoiLz48L2c+PC9zdmc+);
}

.my-app-shareBtn {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTE1Ljk4NCA1LjAxNmwtMS40MDYgMS40MDYtMS41OTQtMS41OTR2MTEuMTU2aC0xLjk2OVY0LjgyOEw5LjQyMSA2LjQyMiA4LjAxNSA1LjAxNiAxMS45OTkuOTg1em00LjAzMiA0Ljk2OFYyMXEwIC44NDQtLjU4NiAxLjQzdC0xLjQzLjU4Nkg2cS0uODQ0IDAtMS40My0uNTg2VDMuOTg0IDIxVjkuOTg0cTAtLjc5Ny41ODYtMS4zODNUNiA4LjAxNWgzdjEuOTY5SDZWMjFoMTJWOS45ODRoLTNWOC4wMTVoM3EuODQ0IDAgMS40My41ODZ0LjU4NiAxLjM4M3oiLz48L3N2Zz4=);
}

.my-app-action:hover {
  background-color: var(--color-7);
  cursor: pointer;
}

.my-app-result {
  padding: 1em;
}

.my-app-result:nth-child(odd) {
  background-color: var(--color-5);
}

.my-app-main {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
}

.my-app-bar {
  /* font-size: var(--font-small); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-bottom: 0.5em; */
}

.my-app-title {
  font-size: var(--font-small);
  display: flex;
  width: 100%;
  flex: 1 0 100%;
  padding: 0.5em 0.5em 0.5em 0;
  line-height: 1.4em;
}

.my-app-imgWrap {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  cursor: pointer;
}

.my-app-imgWrap img {
  max-width: 100%;
}

.my-app-copy {
  font-size: 25px;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #0006;
  padding: 6px;
  transition: opacity ease-out 0.2s;
  display: flex;
  justify-content: center;
  align-self: center;
}

#my-app .success .my-app-copy {
  opacity: 1;
}

.my-app-imgWrap.active {
  box-shadow: 0 0 0 2px rgb(255, 255, 84);
  filter: brightness(1.2);
}

#my-app-footer {
  font-size: var(--font-tiny);
  text-align: right;
  padding: 0.5em;
}
