/* body.dragging > * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
} */

#my-app {
  --color-1: #000;
  --color-2: #222;
  --color-3: #72bbe9;
  --color-4: #c9c9c9;
  --color-5: #222222;
  --color-6: #555555;
  --color-7: #aedaf5;
  --color-8: #ffffff14;
  --font-small: 12px;
  --font-tiny: 10px;
}

#my-app {
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 99999;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: var(--color-4);
  width: 100%;
  max-width: 400px;
}

.my-app-info {
  font-size: var(--font-small);
}

#my-app-body .my-app-info {
  padding: 15px;
}

#my-app-clear {
  /* background-color: var(--color-3); */
  width: 32px;
  height: 32px;
  cursor: pointer;
  right: 3px;
  top: 3px;
  /* border-radius: 50%; */
  position: absolute;
  display: flex;
  padding: 5px;
}

#my-app-clear svg {
  fill: var(--color-6);
}

#my-app-header {
  width: 100%;
  padding: 15px;
}
.my-app-buttons {
  display: flex;
  font-size: 14px;
  gap: 0.5em;
}

#my-app-header.single {
  display: none !important;
}

.my-app-button {
  font-size: var(--font-small);
  color: var(--color-4);
  background-color: var(--color-5);
  cursor: pointer;
  display: flex;
  min-height: 38px;
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 0.5em;
  border-radius: 6px;
}

.my-app-button.active {
  color: var(--color-2);
  background-color: var(--color-3);
}

.my-app-button.active:hover {
  background-color: var(--color-7);
}

#my-app-filter {
  display: flex;
  align-items: stretch;
  margin-top: 1em;
  position: relative;
}

#my-app-filter.hidden {
  display: none;
}

#my-app-content {
  max-height: 260px;
  overflow: scroll;
}

#my-app-menu {
  z-index: 999999;
  position: fixed;
  top: 8px;
  right: 110px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: var(--color-1);
  border-radius: 50%;
  /* box-shadow: 0 2px 12px -3px rgba(255, 255, 255, 0.8); */
  cursor: pointer;
  user-select: none;
}

#my-app-menu:hover {
  background-color: #ffffff14;
}

@media screen and (min-width: 744px) {
  #my-app-menu {
    right: 170px;
  }
}

#my-app-menu .open {
  display: none;
}
#my-app-menu .close {
  display: block;
}

#my-app-menu.open .open {
  display: block;
}
#my-app-menu.open .close {
  display: none;
}

#my-app-field {
  font-size: 16px;
  touch-action: none;
  padding: 8px 40px 8px 8px;
  height: 38px;
  border: 0;
  border-radius: 0;
  color: var(--color-2);
  width: 100%;
  border-radius: 6px;
  appearance: textfield;
}

#my-app-field::-webkit-search-cancel-button,
#my-app-field::-webkit-search-decoration,
#my-app-field::-webkit-search-results-decoration {
  display: none;
}

#my-app-field:focus {
  outline: none;
  box-shadow: 0 0 0px 3px var(--color-3);
}

#my-app-box {
  z-index: 999999;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  max-width: 400px;
  background-color: var(--color-1);
  transform: translateX(-100%);
  position: relative;
  transition: transform 0.1s ease-out;
  border: 1px solid var(--color-5);
  box-shadow: 0 2px 12px -3px rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

#my-app-box.open {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
}

.my-app-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.my-app-icon {
  width: 28px;
  height: 28px;
}

.my-app-button-text {
  display: none;
}

@media screen and (min-width: 330px) {
  .my-app-button-text {
    display: block;
    max-width: 100px;
    width: 100%;
    text-align: center;
  }
}

.my-app-action {
  background-color: var(--color-3);
  display: flex;
  flex: 1 1 auto;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-size: var(--font-small);
  text-decoration: none !important;
  color: var(--color-2) !important;
  align-items: center;
  gap: 0.5em;
}

.my-app-action div {
  user-select: none;
  pointer-events: none;
}

.my-app-action:hover {
  background-color: var(--color-7);
  cursor: pointer;
}

.my-app-result {
  padding: 1em;
}

.my-app-result:nth-child(odd) {
  background-color: var(--color-5);
}

.my-app-main {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
}

.my-app-bar {
  /* font-size: var(--font-small); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-bottom: 0.5em; */
}

.my-app-title {
  font-size: var(--font-small);
  display: flex;
  width: 100%;
  flex: 1 0 100%;
  padding: 0.5em 0.5em 0.5em 0;
  line-height: 1.4em;
}

.my-app-imgWrap {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  cursor: pointer;
}

.my-app-imgWrap img {
  max-width: 100%;
  object-fit: cover;
}

.my-app-copy {
  font-size: 25px;
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: #0006;
  padding: 6px;
  transition: opacity ease-out 0.2s;
  display: flex;
  justify-content: center;
  align-self: center;
}

#my-app .success .my-app-copy {
  opacity: 1;
}

.my-app-imgWrap.active {
  box-shadow: 0 0 0 2px rgb(255, 255, 84);
  filter: brightness(1.2);
}

#my-app-footer {
  font-size: var(--font-tiny);
  text-align: right;
  padding: 0.5em;
}
